[submodule "lib/const_map.c3l"]
	path = lib/const_map.c3l
	url = https://github.com/Book-reader/const_map.c3l.git
[submodule "lib/closures.c3l"]
	path = lib/closures.c3l
	url = https://github.com/Book-reader/closures.c3l.git
[submodule "test_stdlib"]
	path = test_stdlib
	url = https://github.com/c3lang/c3c
