
html {
	font-family:"0xProto Nerd Font";
}

.sidebar {
	height: 100%;
	width: 15em;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	overflow-x: hidden;
	background-color: #dfdfdf;
	padding-left: 0.5em;
	border: none;
}

.main {
	margin-left: 15em;
	padding: 0px 10px;
}

.DataType_KEYWORD {
	color: red;
}

.DataType_TYPE {
	color: purple;
}

.DataType_CONST {
	color: purple;
}

.DataType_COMMENT {
	color: grey;
}

.DataType_BUILTIN_TYPE {
	color: #848400;
}

.DataType_NUMBER {
	color: purple;
}

.DataType_STRING {
	color: lightgreen;
}

.DataType_PATH {
	color: #004400;
}

.DataType_FUNCTION {
	color: green;
}

.DataType {
	display: inline-block;
}

pre {
	background-color: #efefef;
}
